/* ここにCSS */
body {
    background: #f4f9f9;
    font-family: "Segoe UI", sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #fff;
    width: 90%;
    max-width: 380px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
}

input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #dce7e7;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
} 



.btn-primary {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #4db6ac;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.sub-links {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.sub-links a {
  color: #4db6ac;
  font-size: 14px;
}

/* testフロントエンド */