/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* =========================
   BODY
========================= */
body {
  min-height: 100vh;
  background: #f7f9fc;
  color: #1e293b;
}